#container {
  position: relative; /* Esto permite posicionar absolutamente los elementos hijos */
  height: 5vh;
}

#controls {
  /* ... tus otros estilos ... */
}

#content {
  height: calc(3% )
}

#commitList {
  /* ... tus otros estilos ... */
  
  z-index: 1; /* Esto hace que #commitList se pinte sobre #app */
  width: 200px; /* Ajusta a tus necesidades */
  height: 300%;
  /* color de las letras: verde*/
  color: green;
  /* margen a la izquierda: 10px */
  margin-left: 10px;
  /* margen arriba: 10px */
  margin-top: 40px;
}

