#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#controls {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}

#datetime {
  flex: 0 0 auto;
}

#slider {
  flex: 1 0 auto;
}

#your-canvas-id {
  flex: 1 0 auto;
}
 